html, body, #app{
    height: 100%;
}
.login-form-container{
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(255,153,0,1);
}
nav, .btn, .btn-large{
    background-color: rgba(255,153,0,1);
}
.btn:hover, .btn-large:hover{
    background: red;
}
.remove{
    color: #ff0000;
}
#lista-caracteristicas .row{
    display: flex;
    align-items: center;
}


@media only screen and (min-width: 993px){
    .container {
        width: 80%;
    }
}